<a href="https://colab.research.google.com/github/chewzzz1014/DPhi-Bootcamp/blob/master/notes/data-science/quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Solution for [Quiz 2, DPhi IITB Data Science Bootcamp](https://apps.learning.dphi.tech/learning/course/course-v1:DPhi+DSIITB01+2022_05_DB/block-v1:DPhi+DSIITB01+2022_05_DB+type@sequential+block@7bd0753e7f954ef2becf7ce1437859ac/block-v1:DPhi+DSIITB01+2022_05_DB+type@vertical+block@b6e784b0c0ad4a4ca8fed665f7ea6c64).**
- Exploring the Titanic dataset using Pandas library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/titanic.csv", index_col = 'PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# median Fare of the passengers
df.Fare.median()

14.4542

In [14]:
#  proportion of passengers who survived
round(len(df[df["Survived"] == 1])/len(df), 2)

0.38

In [16]:
# number of missing values in Fare feature
df.Fare.isna().sum()

0

In [19]:
# which gender are majority passengers on Titanic
len(df.loc[df["Sex"]=="male"]) >  len(df.loc[df["Sex"]=="female"])

True

In [20]:
# Median age of the passenger
df["Age"].median()

28.0

In [21]:
# number of unique values in each feature
df.nunique()

Survived      2
Pclass        3
Name        891
Sex           2
Age          88
SibSp         7
Parch         7
Ticket      681
Fare        248
Cabin       147
Embarked      3
dtype: int64

In [23]:
#  How many of the survived passengers had embarked from 'Southampton' i.e. 'S'
survived_passengers = df[df["Survived"]==1]
len(survived_passengers.loc[survived_passengers["Embarked"] == 'S'])

217

In [29]:
# is it true that Percentage of women survived was more than percentage of men survived
survived_passengers_woman = survived_passengers[survived_passengers["Sex"]=="female"]
survived_passengers_man = survived_passengers[survived_passengers["Sex"]=="male"]

print("Percentage of Woman Survived: {}%".
      format(len(survived_passengers_woman)/len(survived_passengers)/100) )

print("Percentage of Man Survived: {}%".
      format(len(survived_passengers_man)/len(survived_passengers)/100) )

Percentage of Woman Survived: 0.006812865497076024%
Percentage of Man Survived: 0.0031871345029239767%

In [37]:
# is it true that first class passengers were given priority to survive
survived_passengers_class1 = survived_passengers[survived_passengers["Pclass"]== 1]
survived_passengers_class2 = survived_passengers[survived_passengers["Pclass"]== 2]
survived_passengers_class3 = survived_passengers[survived_passengers["Pclass"]== 3]

print("Percentage of Class 1 Survived: {}%".
      format( round(len(survived_passengers_class1)/len(survived_passengers)/100, 5) ) )

print("Percentage of Class 2 Survived: {}%".
      format( round(len(survived_passengers_class2)/len(survived_passengers)/100,5) ) )

print("Percentage of Class 3 Survived: {}%".
      format( round(len(survived_passengers_class3)/len(survived_passengers)/100, 5) ) )

Percentage of Class 1 Survived: 0.00398%
Percentage of Class 2 Survived: 0.00254%
Percentage of Class 3 Survived: 0.00348%

In [42]:
# is it true that children were given priority to survive
survived_passengers_child = survived_passengers[survived_passengers["Age"]<18 ]
survived_passengers_adult = survived_passengers[survived_passengers["Pclass"]>= 18]


print("Percentage of Child Survived: {}%".
      format( len(survived_passengers_child)/len(survived_passengers)/100) ) 

print("Percentage of Adult Survived: {}%".
      format( len(survived_passengers_adult)/len(survived_passengers)/100) )

Percentage of Child Survived: 0.001783625730994152%
Percentage of Adult Survived: 0.0%

In [43]:
# Most of the passengers have _______ siblings/spouses.
df["SibSp"].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [85]:
# Five highest fares of the passengers
d = df.sort_values(by="Fare", ascending=False)
d.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S