#Task 1
Construct a random 3x28x28 NumPy array called original to represent an image and then convert this into into a 1x(3x28x28) array called flat. This converts it into a single row of pixels. Next, convert this to a 1D array (flatten the array using flat.flatten()). Print shape of all arrays. You may use the random function to generate the array.

In [ ]:
import numpy as np

In [ ]:
original = np.random.rand(3,28,28)
original

In [ ]:
flat = np.reshape(original, -1)
flat

In [ ]:
flat.flatten()
flat

#Task 2
Print out the following:

*  dimension of the arrays.
*  memory address of the arrays (pointer).

*  shape of the arrays.
*  data types of the arrays.

In [ ]:
print("Dimension of array original:",original.ndim)
print("Dimension of array flat:",flat.ndim)

In [ ]:
print("Memory address of array original:",original.data)
print("Memory address of array flat:",flat.data)

In [ ]:
print("Shape of array original:",original.shape)
print("Shape of array flat:",flat.shape)

Shape of array original: (3, 28, 28)
Shape of array flat: (2352,)

In [ ]:
print("Data type of array original:",original.dtype)
print("Data type array flat:",flat.dtype)

#Task 3
Construct a new array which is a negative of the original array, i.e, all elements are negative of those in the original array. Print the new array. Add the original and new arrays. Print the result.

In [ ]:
negation = np.array([element*(-1) for element in original])
negation

In [ ]:
print(negation+original)

#Task 4
A 3x28x28 basically means 28x28 matrices repeated three times. How would you access the first 10 elements of the 2nd row of the second 28x28 matrix? Consider the original array for this. Print the elements.

In [ ]:
print(original[1,1,:10])

[0.31260637 0.24680848 0.09508377 0.73318592 0.12903378 0.74052896
 0.4334827  0.73234077 0.42134349 0.15409029]

#Task 5
A 3x28x28 image means 3 channels of Red, Green, or Blue (Popularly known as RGB image). Each color channel has a height and width, which is 28X28 in this case. The entire picture can represented through this method. Print the shape of the Blue pixel matrix and its first 3 rows.

In [ ]:
print("Shape of Blue:",original[1].shape)
print(original[1,:3,:])

#Task 6
Create a 1 dimensional numpy array of the first 50 even numbers. Convert this to a 10x5 numpy array and print its transpose.

In [ ]:
even =  [i for i in range(0,100,2) ]
even = np.array(even)
even = np.reshape( even, (10,5))
even.transpose()

array([[ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
       [ 2, 12, 22, 32, 42, 52, 62, 72, 82, 92],
       [ 4, 14, 24, 34, 44, 54, 64, 74, 84, 94],
       [ 6, 16, 26, 36, 46, 56, 66, 76, 86, 96],
       [ 8, 18, 28, 38, 48, 58, 68, 78, 88, 98]])

#Task 7
Consider the 10x5 array created in Task 6. Find the mean of each row and column. You may use in built functions or write your own code

In [ ]:
for i in range(10):
  avg = sum(even[i,:])/5
  print("Average for row ",(i+1),":",avg)

for j in range(5):
  sum=0
  for i in range(10):
    sum+=even[i][j]
  avg = sum/10
  print("Average for column ",(j+1),":",avg)

Average for row  1 : 4.0
Average for row  2 : 14.0
Average for row  3 : 24.0
Average for row  4 : 34.0
Average for row  5 : 44.0
Average for row  6 : 54.0
Average for row  7 : 64.0
Average for row  8 : 74.0
Average for row  9 : 84.0
Average for row  10 : 94.0
Average for column  1 : 45.0
Average for column  2 : 47.0
Average for column  3 : 49.0
Average for column  4 : 51.0
Average for column  5 : 53.0

#Task 8
Can we create a 3x3 array of the first 50 even numbers? Why or why not? What are other values of m and n for which mxn dimension is allowed for 50 elements?

We can't create a 3x3 array of the first 50 even number as this array consists of 50 element which cannot be fitted into odd number shape array. Some values of m and n allowed would be:



*   m=2 , n=25 or vice verse
*   m=5, n=10 or vice verse
*   m=1, n=50 or vice verse