<a href="https://colab.research.google.com/github/chewzzz1014/DPhi-Bootcamp/blob/master/notes/deep-learning/LinearRegression_tfKeras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Building Machine Learning Model using tensorflow.keras API**

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Boston_Housing/Training_set_boston.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,15.02340,0.0,18.10,0.0,0.6140,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91,12.0
1,0.62739,0.0,8.14,0.0,0.5380,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47,19.9
2,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83,19.4
3,7.05042,0.0,18.10,0.0,0.6140,6.103,85.1,2.0218,24.0,666.0,20.2,2.52,23.29,13.4
4,0.72580,0.0,8.14,0.0,0.5380,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2

In [3]:
# seperate input features and output feature
X = df.drop("MEDV", axis = 1) # input
y = df["MEDV"]  # input

In [12]:
# split data into train set and test set

from sklearn.model_selection import train_test_split

# 80% of data -> train set, 20% of data -> test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

n_features = X.shape[1]
print(n_features)

13

# Model Life Cycle
  1. Define Model
  2. Compile Model
  3. Fit the Model
  4. Make Predictions on Test Data
  5. Evaluate Model

1. **Define Model**
  - Select the type of model and choose the architecture or network topology.
  - Models can be defined using Sequential API or Functional API.
  - `Sequential API` : Simpleset API to get started with Deep Learning. Enables us to create models layer-by-layer
  - `Layer` : Group number of neurons together. Holding a collection of neurons, and perform learning process of neural network.
  - `ReLU` (rectified linear unit) : Activation function that decides whether or not a neuron should be activated. Defined mathematically as `f(x) = max(0,x)`(x is the output is x >0).

In [20]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from numpy.random import seed   #fixes the randomness in neural network

# define model
model = Sequential()

# visible layer is defined by "input_shape" argument on first hidden layer
# first hidden layer
model.add(Dense(10, activation = "relu", input_shape=(n_features,)))
# second hidden layer
model.add(Dense(8, activation="relu"))
# third hidden layer
model.add(Dense(1))

2. **Compile Model**
    - Select a loss function, eg: mean squared error or cross-entropy, to be optimized.
    - Select an algorithm to perform the optimization process. eg: RMSprop
    - Select any performance metrics to keep track of during model training process. eg: mean squered error

In [22]:
from  tensorflow.keras.optimizers import RMSprop
optimizer = RMSprop(0.01)   # 0.01 is learning rate

# compile the model
model.compile(loss="mean_squared_error", optimizer=optimizer)

3. **Fitting Model**
    - Select training configuration (eg: num of epochs [loops thru training set] and batch size[num of samples in each epoch used to estimate model error] )
    - Calling a function to perform training process.